<p>
  <strong>Writing:</strong>
  <%= @work_result.writing %>
</p>

<p>
  <strong>Revision:</strong>
  <%= @work_result.revision %>
</p>

<%= link_to 'Edit', edit_work_result_path(@work_result) %> |
<%= link_to 'Back', work_results_path %>
